# See https://help.github.com/en/articles/about-code-owners

* @elimu-ai/codeowners-games # https://github.com/orgs/elimu-ai/teams/codeowners-games/members
* @elimu-ai/codeowners-android # https://github.com/orgs/elimu-ai/teams/codeowners-android/members
