<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1257,104},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrowPressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1339,104},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jupiter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{449,2},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mars.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{651,2},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{853,2},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stars.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,250}</string>
                <key>spriteSourceSize</key>
                <string>{445,250}</string>
                <key>textureRect</key>
                <string>{{2,2},{445,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>testPlanet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1257,2},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>uranus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1055,2},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>bitacora.gys</string>
            <key>size</key>
            <string>{1421,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e82621425f62bda4f6c7be2016b0d0e:c39ef874274cae1962bf4f0289cfabe1:8b2943024de54e485f0a081400f9c486$</string>
            <key>textureFileName</key>
            <string>bitacora.gys</string>
        </dict>
    </dict>
</plist>
