<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>botFrente.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{24,29}</string>
                <key>spriteSourceSize</key>
                <string>{24,28}</string>
                <key>textureRect</key>
                <string>{{367,407},{24,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>botPerfil.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{401,375},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>botPerfilOpen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,31}</string>
                <key>spriteSourceSize</key>
                <string>{27,31}</string>
                <key>textureRect</key>
                <string>{{401,346},{27,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>botonSalir.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,44}</string>
                <key>spriteSourceSize</key>
                <string>{105,44}</string>
                <key>textureRect</key>
                <string>{{340,254},{105,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>botonSalirSel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,44}</string>
                <key>spriteSourceSize</key>
                <string>{105,44}</string>
                <key>textureRect</key>
                <string>{{340,300},{105,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,24}</string>
                <key>textureRect</key>
                <string>{{367,380},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>joystick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{367,346},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,127}</string>
                <key>spriteSourceSize</key>
                <string>{170,127}</string>
                <key>textureRect</key>
                <string>{{211,254},{170,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stars.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,250}</string>
                <key>spriteSourceSize</key>
                <string>{445,250}</string>
                <key>textureRect</key>
                <string>{{2,2},{445,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,64}</string>
                <key>spriteSourceSize</key>
                <string>{25,64}</string>
                <key>textureRect</key>
                <string>{{340,346},{25,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,175}</string>
                <key>spriteSourceSize</key>
                <string>{207,175}</string>
                <key>textureRect</key>
                <string>{{2,254},{207,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{449,433}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e49911d693db123ebf3bf6da896252cc:7111f038ea0e78675c958c4c18706689:d9a61af917d26893cbfb8ffb904e12ee$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
