<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tipJupiter1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,3}</string>
                <key>spriteSize</key>
                <string>{109,109}</string>
                <key>spriteSourceSize</key>
                <string>{125,125}</string>
                <key>textureRect</key>
                <string>{{262,320},{109,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipJupiter1Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,63}</string>
                <key>spriteSourceSize</key>
                <string>{445,63}</string>
                <key>textureRect</key>
                <string>{{2,2},{445,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipJupiter2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6.5,-9.5}</string>
                <key>spriteSize</key>
                <string>{112,82}</string>
                <key>spriteSourceSize</key>
                <string>{125,125}</string>
                <key>textureRect</key>
                <string>{{354,440},{112,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipJupiter2Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,63}</string>
                <key>spriteSourceSize</key>
                <string>{445,63}</string>
                <key>textureRect</key>
                <string>{{2,67},{445,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipJupiter3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-0.5,-2}</string>
                <key>spriteSize</key>
                <string>{118,91}</string>
                <key>spriteSourceSize</key>
                <string>{125,125}</string>
                <key>textureRect</key>
                <string>{{373,320},{118,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipJupiter3Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,63}</string>
                <key>spriteSourceSize</key>
                <string>{445,63}</string>
                <key>textureRect</key>
                <string>{{2,132},{445,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipJupiter4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,1}</string>
                <key>spriteSize</key>
                <string>{90,111}</string>
                <key>spriteSourceSize</key>
                <string>{125,125}</string>
                <key>textureRect</key>
                <string>{{262,431},{90,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipJupiter4Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,63}</string>
                <key>spriteSourceSize</key>
                <string>{445,63}</string>
                <key>textureRect</key>
                <string>{{2,197},{445,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipJupiter5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3.5,2.5}</string>
                <key>spriteSize</key>
                <string>{96,90}</string>
                <key>spriteSourceSize</key>
                <string>{125,125}</string>
                <key>textureRect</key>
                <string>{{376,524},{96,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipJupiter5Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,63}</string>
                <key>spriteSourceSize</key>
                <string>{445,63}</string>
                <key>textureRect</key>
                <string>{{67,197},{445,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipJupiter6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-0.5,-2}</string>
                <key>spriteSize</key>
                <string>{112,89}</string>
                <key>spriteSourceSize</key>
                <string>{125,125}</string>
                <key>textureRect</key>
                <string>{{262,544},{112,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipJupiter6Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,63}</string>
                <key>spriteSourceSize</key>
                <string>{445,63}</string>
                <key>textureRect</key>
                <string>{{132,197},{445,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipJupiter7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{123,121}</string>
                <key>spriteSourceSize</key>
                <string>{125,125}</string>
                <key>textureRect</key>
                <string>{{262,197},{123,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipJupiter7Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,63}</string>
                <key>spriteSourceSize</key>
                <string>{445,63}</string>
                <key>textureRect</key>
                <string>{{197,197},{445,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>jupiterTips.gys</string>
            <key>size</key>
            <string>{468,644}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d7fa8f1471271df0a415940081492a8:c863e5c594578b43e8117bfe180e0f43:7545064eee1dd8997de5bd2d1439873f$</string>
            <key>textureFileName</key>
            <string>jupiterTips.gys</string>
        </dict>
    </dict>
</plist>
