<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{223,94}</string>
                <key>spriteSourceSize</key>
                <string>{225,96}</string>
                <key>textureRect</key>
                <string>{{232,767},{223,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,250}</string>
                <key>spriteSourceSize</key>
                <string>{1000,250}</string>
                <key>textureRect</key>
                <string>{{2,2},{1000,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,250}</string>
                <key>spriteSourceSize</key>
                <string>{1000,250}</string>
                <key>textureRect</key>
                <string>{{2,257},{1000,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,250}</string>
                <key>spriteSourceSize</key>
                <string>{1000,250}</string>
                <key>textureRect</key>
                <string>{{2,512},{1000,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plat1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,38}</string>
                <key>spriteSourceSize</key>
                <string>{256,38}</string>
                <key>textureRect</key>
                <string>{{272,866},{256,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plat2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6.5}</string>
                <key>spriteSize</key>
                <string>{128,23}</string>
                <key>spriteSourceSize</key>
                <string>{128,36}</string>
                <key>textureRect</key>
                <string>{{204,767},{128,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plat3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4.5}</string>
                <key>spriteSize</key>
                <string>{64,28}</string>
                <key>spriteSourceSize</key>
                <string>{64,37}</string>
                <key>textureRect</key>
                <string>{{460,767},{64,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thunder0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,197}</string>
                <key>spriteSourceSize</key>
                <string>{148,197}</string>
                <key>textureRect</key>
                <string>{{2,767},{148,197}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thunderParticle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,46}</string>
                <key>spriteSourceSize</key>
                <string>{35,46}</string>
                <key>textureRect</key>
                <string>{{232,866},{35,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>jupiter.gys</string>
            <key>size</key>
            <string>{1004,917}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1fb1f697b4c26e130cd36b4c537000fa:b9a428be86a619706b39e1cb3593a2da:87e95ed86fc15aa9d580c588a6e58619$</string>
            <key>textureFileName</key>
            <string>jupiter.gys</string>
        </dict>
    </dict>
</plist>
