<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tipMars1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,6}</string>
                <key>spriteSize</key>
                <string>{95,103}</string>
                <key>spriteSourceSize</key>
                <string>{125,125}</string>
                <key>textureRect</key>
                <string>{{246,457},{95,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipMars1Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,63}</string>
                <key>spriteSourceSize</key>
                <string>{445,63}</string>
                <key>textureRect</key>
                <string>{{2,2},{445,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMars2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{93,97}</string>
                <key>spriteSourceSize</key>
                <string>{125,125}</string>
                <key>textureRect</key>
                <string>{{351,457},{93,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMars2Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,63}</string>
                <key>spriteSourceSize</key>
                <string>{445,63}</string>
                <key>textureRect</key>
                <string>{{2,67},{445,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMars3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{87,91}</string>
                <key>spriteSourceSize</key>
                <string>{125,125}</string>
                <key>textureRect</key>
                <string>{{119,536},{87,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMars3Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,63}</string>
                <key>spriteSourceSize</key>
                <string>{445,63}</string>
                <key>textureRect</key>
                <string>{{2,132},{445,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMars4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{125,77}</string>
                <key>spriteSourceSize</key>
                <string>{125,125}</string>
                <key>textureRect</key>
                <string>{{119,457},{125,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMars4Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,63}</string>
                <key>spriteSourceSize</key>
                <string>{445,63}</string>
                <key>textureRect</key>
                <string>{{2,197},{445,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMars5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{75,83}</string>
                <key>spriteSourceSize</key>
                <string>{125,125}</string>
                <key>textureRect</key>
                <string>{{2,552},{75,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipMars5Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,63}</string>
                <key>spriteSourceSize</key>
                <string>{445,63}</string>
                <key>textureRect</key>
                <string>{{2,262},{445,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMars6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{121,51}</string>
                <key>spriteSourceSize</key>
                <string>{125,125}</string>
                <key>textureRect</key>
                <string>{{208,554},{121,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMars6Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,63}</string>
                <key>spriteSourceSize</key>
                <string>{445,63}</string>
                <key>textureRect</key>
                <string>{{2,327},{445,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMars7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{115,93}</string>
                <key>spriteSourceSize</key>
                <string>{125,125}</string>
                <key>textureRect</key>
                <string>{{2,457},{115,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMars7Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,63}</string>
                <key>spriteSourceSize</key>
                <string>{445,63}</string>
                <key>textureRect</key>
                <string>{{2,392},{445,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>marsTips.png</string>
            <key>size</key>
            <string>{449,629}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34bccdeca3e64564bfe31dc7eddd8b61:f06f347fd04922edbbe90ee4b83e23ae:d47bd4066b9b1c155b7cb9e13434265e$</string>
            <key>textureFileName</key>
            <string>marsTips.png</string>
        </dict>
    </dict>
</plist>
