<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tipMars1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,5.5}</string>
                <key>spriteSize</key>
                <string>{93,100}</string>
                <key>spriteSourceSize</key>
                <string>{125,125}</string>
                <key>textureRect</key>
                <string>{{439,327},{93,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipMars1Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,63}</string>
                <key>spriteSourceSize</key>
                <string>{445,63}</string>
                <key>textureRect</key>
                <string>{{2,2},{445,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipMars2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,4.5}</string>
                <key>spriteSize</key>
                <string>{91,94}</string>
                <key>spriteSourceSize</key>
                <string>{125,125}</string>
                <key>textureRect</key>
                <string>{{255,404},{91,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipMars2Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,63}</string>
                <key>spriteSourceSize</key>
                <string>{445,63}</string>
                <key>textureRect</key>
                <string>{{67,2},{445,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipMars3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-0.5,2.5}</string>
                <key>spriteSize</key>
                <string>{86,90}</string>
                <key>spriteSourceSize</key>
                <string>{125,125}</string>
                <key>textureRect</key>
                <string>{{351,404},{86,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMars3Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,63}</string>
                <key>spriteSourceSize</key>
                <string>{445,63}</string>
                <key>textureRect</key>
                <string>{{132,2},{445,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMars4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{125,75}</string>
                <key>spriteSourceSize</key>
                <string>{125,125}</string>
                <key>textureRect</key>
                <string>{{227,327},{125,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMars4Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,63}</string>
                <key>spriteSourceSize</key>
                <string>{445,63}</string>
                <key>textureRect</key>
                <string>{{132,67},{445,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMars5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4.5,0}</string>
                <key>spriteSize</key>
                <string>{74,81}</string>
                <key>spriteSourceSize</key>
                <string>{125,125}</string>
                <key>textureRect</key>
                <string>{{354,327},{74,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipMars5Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,63}</string>
                <key>spriteSourceSize</key>
                <string>{445,63}</string>
                <key>textureRect</key>
                <string>{{132,132},{445,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMars6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4.5}</string>
                <key>spriteSize</key>
                <string>{121,48}</string>
                <key>spriteSourceSize</key>
                <string>{125,125}</string>
                <key>textureRect</key>
                <string>{{132,443},{121,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMars6Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,63}</string>
                <key>spriteSourceSize</key>
                <string>{445,63}</string>
                <key>textureRect</key>
                <string>{{132,197},{445,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMars7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,-6}</string>
                <key>spriteSize</key>
                <string>{114,93}</string>
                <key>spriteSourceSize</key>
                <string>{125,125}</string>
                <key>textureRect</key>
                <string>{{132,327},{114,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipMars7Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,63}</string>
                <key>spriteSourceSize</key>
                <string>{445,63}</string>
                <key>textureRect</key>
                <string>{{132,262},{445,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>marsTips.gys</string>
            <key>size</key>
            <string>{579,497}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c4fc0f67d52c9099a0d8d746211d92a:f06f347fd04922edbbe90ee4b83e23ae:b89c8afa1a181d3e6f49aa9cad6004ba$</string>
            <key>textureFileName</key>
            <string>marsTips.gys</string>
        </dict>
    </dict>
</plist>
