<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,250}</string>
                <key>spriteSourceSize</key>
                <string>{445,250}</string>
                <key>textureRect</key>
                <string>{{355,440},{445,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>curiosity.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,41}</string>
                <key>spriteSourceSize</key>
                <string>{75,41}</string>
                <key>textureRect</key>
                <string>{{134,790},{75,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>olympus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-51}</string>
                <key>spriteSize</key>
                <string>{445,148}</string>
                <key>spriteSourceSize</key>
                <string>{445,250}</string>
                <key>textureRect</key>
                <string>{{355,694},{445,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>oportunity.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,54}</string>
                <key>spriteSourceSize</key>
                <string>{75,54}</string>
                <key>textureRect</key>
                <string>{{270,700},{75,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-33}</string>
                <key>spriteSize</key>
                <string>{1000,184}</string>
                <key>spriteSourceSize</key>
                <string>{1000,250}</string>
                <key>textureRect</key>
                <string>{{2,2},{1000,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-60}</string>
                <key>spriteSize</key>
                <string>{1000,130}</string>
                <key>spriteSourceSize</key>
                <string>{1000,250}</string>
                <key>textureRect</key>
                <string>{{2,190},{1000,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-69}</string>
                <key>spriteSize</key>
                <string>{1000,112}</string>
                <key>spriteSourceSize</key>
                <string>{1000,250}</string>
                <key>textureRect</key>
                <string>{{2,324},{1000,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plat1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,81}</string>
                <key>spriteSourceSize</key>
                <string>{256,81}</string>
                <key>textureRect</key>
                <string>{{270,440},{256,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plat2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{128,46}</string>
                <key>spriteSourceSize</key>
                <string>{128,45}</string>
                <key>textureRect</key>
                <string>{{2,790},{128,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plat3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,23}</string>
                <key>spriteSourceSize</key>
                <string>{64,23}</string>
                <key>textureRect</key>
                <string>{{213,790},{64,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tornado.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-0.5}</string>
                <key>spriteSize</key>
                <string>{264,346}</string>
                <key>spriteSourceSize</key>
                <string>{282,345}</string>
                <key>textureRect</key>
                <string>{{2,440},{264,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tornadoParticle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,14}</string>
                <key>spriteSourceSize</key>
                <string>{15,14}</string>
                <key>textureRect</key>
                <string>{{213,817},{15,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mars.png</string>
            <key>size</key>
            <string>{1004,844}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68187a7ce82c5aed1c6eeb7eaa70357e:c9a26345df4e81df80884050bfd387a5:53af520387332c791d3ed2c517da9651$</string>
            <key>textureFileName</key>
            <string>mars.png</string>
        </dict>
    </dict>
</plist>
