<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,250}</string>
                <key>spriteSourceSize</key>
                <string>{445,250}</string>
                <key>textureRect</key>
                <string>{{354,437},{445,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>curiosity.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,41}</string>
                <key>spriteSourceSize</key>
                <string>{75,41}</string>
                <key>textureRect</key>
                <string>{{134,787},{75,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>olympus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-51.5}</string>
                <key>spriteSize</key>
                <string>{445,147}</string>
                <key>spriteSourceSize</key>
                <string>{445,250}</string>
                <key>textureRect</key>
                <string>{{354,691},{445,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>oportunity.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,54}</string>
                <key>spriteSourceSize</key>
                <string>{75,54}</string>
                <key>textureRect</key>
                <string>{{269,697},{75,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-34}</string>
                <key>spriteSize</key>
                <string>{1000,182}</string>
                <key>spriteSourceSize</key>
                <string>{1000,250}</string>
                <key>textureRect</key>
                <string>{{2,2},{1000,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-60}</string>
                <key>spriteSize</key>
                <string>{1000,130}</string>
                <key>spriteSourceSize</key>
                <string>{1000,250}</string>
                <key>textureRect</key>
                <string>{{2,188},{1000,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-69.5}</string>
                <key>spriteSize</key>
                <string>{1000,111}</string>
                <key>spriteSourceSize</key>
                <string>{1000,250}</string>
                <key>textureRect</key>
                <string>{{2,322},{1000,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plat1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,81}</string>
                <key>spriteSourceSize</key>
                <string>{256,81}</string>
                <key>textureRect</key>
                <string>{{269,437},{256,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plat2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{128,46}</string>
                <key>spriteSourceSize</key>
                <string>{128,45}</string>
                <key>textureRect</key>
                <string>{{2,787},{128,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plat3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,23}</string>
                <key>spriteSourceSize</key>
                <string>{64,23}</string>
                <key>textureRect</key>
                <string>{{213,787},{64,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tornado.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{263,346}</string>
                <key>spriteSourceSize</key>
                <string>{282,345}</string>
                <key>textureRect</key>
                <string>{{2,437},{263,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tornadoParticle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,14}</string>
                <key>spriteSourceSize</key>
                <string>{15,14}</string>
                <key>textureRect</key>
                <string>{{213,814},{15,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>mars.gys</string>
            <key>size</key>
            <string>{1004,840}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:403181d1b67e1e524b653a62d51f5287:c9a26345df4e81df80884050bfd387a5:e994bc37a19466afd1b7699565138a8c$</string>
            <key>textureFileName</key>
            <string>mars.gys</string>
        </dict>
    </dict>
</plist>
