<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>botonBitacora.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{101,38}</string>
                <key>spriteSourceSize</key>
                <string>{105,44}</string>
                <key>textureRect</key>
                <string>{{2,224},{101,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>botonBitacoraSel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{104,44}</string>
                <key>spriteSourceSize</key>
                <string>{105,44}</string>
                <key>textureRect</key>
                <string>{{2,522},{104,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>botonJugar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{97,38}</string>
                <key>spriteSourceSize</key>
                <string>{105,44}</string>
                <key>textureRect</key>
                <string>{{2,482},{97,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>botonJugarSel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{103,42}</string>
                <key>spriteSourceSize</key>
                <string>{105,44}</string>
                <key>textureRect</key>
                <string>{{2,628},{103,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>botonOpciones.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,38}</string>
                <key>spriteSourceSize</key>
                <string>{105,44}</string>
                <key>textureRect</key>
                <string>{{2,264},{99,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>botonOpcionesSel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{104,43}</string>
                <key>spriteSourceSize</key>
                <string>{105,44}</string>
                <key>textureRect</key>
                <string>{{48,522},{104,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>botonSalir.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{99,38}</string>
                <key>spriteSourceSize</key>
                <string>{105,44}</string>
                <key>textureRect</key>
                <string>{{2,304},{99,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>botonSalirSel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{103,42}</string>
                <key>spriteSourceSize</key>
                <string>{105,44}</string>
                <key>textureRect</key>
                <string>{{46,628},{103,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>logo_akua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-0.5,0.5}</string>
                <key>spriteSize</key>
                <string>{220,102}</string>
                <key>spriteSourceSize</key>
                <string>{231,123}</string>
                <key>textureRect</key>
                <string>{{2,2},{220,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>naveMenu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{136,98}</string>
                <key>spriteSourceSize</key>
                <string>{136,102}</string>
                <key>textureRect</key>
                <string>{{2,344},{136,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>menu.gys</string>
            <key>size</key>
            <string>{106,733}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6df3a5bdc01550305553b5ad928b7688:dbd4258497792e540c2c71f632c9bd75:6df788bf60202e005328e767f9ed0493$</string>
            <key>textureFileName</key>
            <string>menu.gys</string>
        </dict>
    </dict>
</plist>
