<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buttonPlay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{99,40}</string>
                <key>spriteSourceSize</key>
                <string>{105,44}</string>
                <key>textureRect</key>
                <string>{{140,216},{99,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPlaySel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{101,42}</string>
                <key>spriteSourceSize</key>
                <string>{105,44}</string>
                <key>textureRect</key>
                <string>{{140,172},{101,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>naveMenu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{136,98}</string>
                <key>spriteSourceSize</key>
                <string>{136,102}</string>
                <key>textureRect</key>
                <string>{{2,172},{136,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nyaLogo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-0.5,-8}</string>
                <key>spriteSize</key>
                <string>{230,168}</string>
                <key>spriteSourceSize</key>
                <string>{373,298}</string>
                <key>textureRect</key>
                <string>{{2,2},{230,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>menu.png</string>
            <key>size</key>
            <string>{243,272}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b66287377b4d1dda05ea0f3b3f0e4c1:58ee99c17af6c2003b600aec71b9ec23:d8262aade98c5042ace66a849ab96659$</string>
            <key>textureFileName</key>
            <string>menu.png</string>
        </dict>
    </dict>
</plist>
