<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,250}</string>
                <key>spriteSourceSize</key>
                <string>{445,250}</string>
                <key>textureRect</key>
                <string>{{3,275},{445,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>earth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{146,150}</string>
                <key>spriteSourceSize</key>
                <string>{146,149}</string>
                <key>textureRect</key>
                <string>{{452,319},{146,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lunarLander.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,163}</string>
                <key>spriteSourceSize</key>
                <string>{117,163}</string>
                <key>textureRect</key>
                <string>{{712,275},{117,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>meteor1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-12.5}</string>
                <key>spriteSize</key>
                <string>{96,75}</string>
                <key>spriteSourceSize</key>
                <string>{95,176}</string>
                <key>textureRect</key>
                <string>{{712,396},{96,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meteor2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-2}</string>
                <key>spriteSize</key>
                <string>{96,118}</string>
                <key>spriteSourceSize</key>
                <string>{95,176}</string>
                <key>textureRect</key>
                <string>{{879,275},{96,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meteor3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1.5,-2.5}</string>
                <key>spriteSize</key>
                <string>{94,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,176}</string>
                <key>textureRect</key>
                <string>{{812,397},{94,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>montana3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{88,35}</string>
                <key>spriteSourceSize</key>
                <string>{87,35}</string>
                <key>textureRect</key>
                <string>{{606,455},{88,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>montana4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{132,45}</string>
                <key>spriteSourceSize</key>
                <string>{132,44}</string>
                <key>textureRect</key>
                <string>{{606,319},{132,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-63}</string>
                <key>spriteSize</key>
                <string>{1000,71}</string>
                <key>spriteSourceSize</key>
                <string>{1000,197}</string>
                <key>textureRect</key>
                <string>{{3,200},{1000,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-53.5}</string>
                <key>spriteSize</key>
                <string>{1000,90}</string>
                <key>spriteSourceSize</key>
                <string>{1000,197}</string>
                <key>textureRect</key>
                <string>{{3,106},{1000,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-49}</string>
                <key>spriteSize</key>
                <string>{1000,99}</string>
                <key>spriteSourceSize</key>
                <string>{1000,197}</string>
                <key>textureRect</key>
                <string>{{3,3},{1000,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plat1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,53}</string>
                <key>spriteSourceSize</key>
                <string>{128,53}</string>
                <key>textureRect</key>
                <string>{{655,319},{128,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plat2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0.5}</string>
                <key>spriteSize</key>
                <string>{256,40}</string>
                <key>spriteSourceSize</key>
                <string>{256,41}</string>
                <key>textureRect</key>
                <string>{{452,275},{256,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plat3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,15.5}</string>
                <key>spriteSize</key>
                <string>{64,10}</string>
                <key>spriteSourceSize</key>
                <string>{64,41}</string>
                <key>textureRect</key>
                <string>{{698,451},{64,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>moon.gys</string>
            <key>size</key>
            <string>{1006,528}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c407dece6872cfde9761761a488cc60:942958f99a7c4df73e1c893dca05e313:3407ad9fb5143b5aa8c3ea0bd7e5ca2a$</string>
            <key>textureFileName</key>
            <string>moon.gys</string>
        </dict>
    </dict>
</plist>
