<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,250}</string>
                <key>spriteSourceSize</key>
                <string>{445,250}</string>
                <key>textureRect</key>
                <string>{{2,2},{445,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>backgroundFX.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,22.5}</string>
                <key>spriteSize</key>
                <string>{445,205}</string>
                <key>spriteSourceSize</key>
                <string>{445,250}</string>
                <key>textureRect</key>
                <string>{{254,2},{445,205}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>capsule.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,81}</string>
                <key>spriteSourceSize</key>
                <string>{71,83}</string>
                <key>textureRect</key>
                <string>{{224,449},{67,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>capsuleLight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-0.5,-11}</string>
                <key>spriteSize</key>
                <string>{48,61}</string>
                <key>spriteSourceSize</key>
                <string>{71,83}</string>
                <key>textureRect</key>
                <string>{{307,449},{48,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-0.5,0.5}</string>
                <key>spriteSize</key>
                <string>{220,102}</string>
                <key>spriteSourceSize</key>
                <string>{231,123}</string>
                <key>textureRect</key>
                <string>{{2,449},{220,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>puerto.gys</string>
            <key>size</key>
            <string>{461,553}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ecbfd60430b1d6f41b48d1d91fd7ba7:e3b16c6e89aeb5bc35015b549243c803:25112b876c3e01721e6fdda88f08680b$</string>
            <key>textureFileName</key>
            <string>puerto.gys</string>
        </dict>
    </dict>
</plist>
