<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,270}</string>
                <key>spriteSourceSize</key>
                <string>{1000,270}</string>
                <key>textureRect</key>
                <string>{{2,2},{1000,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>training.gys</string>
            <key>size</key>
            <string>{1004,274}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:271059f9175f824dc5569dead1ef905e:5c2ccf27310460dae40d712e552ec434:44b98ab8a6d32c2f073544954a365822$</string>
            <key>textureFileName</key>
            <string>training.gys</string>
        </dict>
    </dict>
</plist>
