<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,250}</string>
                <key>spriteSourceSize</key>
                <string>{445,250}</string>
                <key>textureRect</key>
                <string>{{3,502},{445,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iceParticle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,28}</string>
                <key>spriteSourceSize</key>
                <string>{25,28}</string>
                <key>textureRect</key>
                <string>{{612,502},{25,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-54}</string>
                <key>spriteSize</key>
                <string>{1000,142}</string>
                <key>spriteSourceSize</key>
                <string>{1000,250}</string>
                <key>textureRect</key>
                <string>{{3,234},{1000,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11.5}</string>
                <key>spriteSize</key>
                <string>{1000,227}</string>
                <key>spriteSourceSize</key>
                <string>{1000,250}</string>
                <key>textureRect</key>
                <string>{{3,3},{1000,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-66}</string>
                <key>spriteSize</key>
                <string>{1000,118}</string>
                <key>spriteSourceSize</key>
                <string>{1000,250}</string>
                <key>textureRect</key>
                <string>{{3,380},{1000,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plat1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,38}</string>
                <key>spriteSourceSize</key>
                <string>{256,38}</string>
                <key>textureRect</key>
                <string>{{589,570},{256,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plat2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,36}</string>
                <key>spriteSourceSize</key>
                <string>{128,36}</string>
                <key>textureRect</key>
                <string>{{549,502},{128,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plat3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{64,19}</string>
                <key>spriteSourceSize</key>
                <string>{64,37}</string>
                <key>textureRect</key>
                <string>{{589,502},{64,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spike0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{138,93}</string>
                <key>spriteSourceSize</key>
                <string>{137,93}</string>
                <key>textureRect</key>
                <string>{{452,502},{138,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spike1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,93}</string>
                <key>spriteSourceSize</key>
                <string>{108,93}</string>
                <key>textureRect</key>
                <string>{{452,644},{108,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spike2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{116,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,94}</string>
                <key>textureRect</key>
                <string>{{549,634},{116,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>uranus.gys</string>
            <key>size</key>
            <string>{1006,755}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee0f843b567993738bee1b49bad5906c:6db249cde91a55c4b9963e17adf047bb:1502873024734d08a8fc1f62923e2bfe$</string>
            <key>textureFileName</key>
            <string>uranus.gys</string>
        </dict>
    </dict>
</plist>
