<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,250}</string>
                <key>spriteSourceSize</key>
                <string>{445,250}</string>
                <key>textureRect</key>
                <string>{{3,507},{445,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iceParticle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,28}</string>
                <key>spriteSourceSize</key>
                <string>{25,28}</string>
                <key>textureRect</key>
                <string>{{613,507},{25,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-53}</string>
                <key>spriteSize</key>
                <string>{1000,144}</string>
                <key>spriteSourceSize</key>
                <string>{1000,250}</string>
                <key>textureRect</key>
                <string>{{3,235},{1000,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{1000,228}</string>
                <key>spriteSourceSize</key>
                <string>{1000,250}</string>
                <key>textureRect</key>
                <string>{{3,3},{1000,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-65}</string>
                <key>spriteSize</key>
                <string>{1000,120}</string>
                <key>spriteSourceSize</key>
                <string>{1000,250}</string>
                <key>textureRect</key>
                <string>{{3,383},{1000,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plat1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,38}</string>
                <key>spriteSourceSize</key>
                <string>{256,38}</string>
                <key>textureRect</key>
                <string>{{589,575},{256,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plat2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,36}</string>
                <key>spriteSourceSize</key>
                <string>{128,36}</string>
                <key>textureRect</key>
                <string>{{549,507},{128,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plat3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8.5}</string>
                <key>spriteSize</key>
                <string>{64,20}</string>
                <key>spriteSourceSize</key>
                <string>{64,37}</string>
                <key>textureRect</key>
                <string>{{589,507},{64,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spike0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{138,93}</string>
                <key>spriteSourceSize</key>
                <string>{137,93}</string>
                <key>textureRect</key>
                <string>{{452,507},{138,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spike1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,93}</string>
                <key>spriteSourceSize</key>
                <string>{108,93}</string>
                <key>textureRect</key>
                <string>{{452,649},{108,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spike2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{116,58}</string>
                <key>spriteSourceSize</key>
                <string>{120,94}</string>
                <key>textureRect</key>
                <string>{{549,639},{116,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>uranus.png</string>
            <key>size</key>
            <string>{1006,760}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cdb8be471d0cc9639e7ba6ca3018800f:6db249cde91a55c4b9963e17adf047bb:54121e9e1806a078185fee5b0a3f348b$</string>
            <key>textureFileName</key>
            <string>uranus.png</string>
        </dict>
    </dict>
</plist>
