<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>botFrente.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,116}</string>
                <key>spriteSourceSize</key>
                <string>{96,116}</string>
                <key>textureRect</key>
                <string>{{2176,844},{96,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>botPerfil.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{2048,844},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>botPerfilOpen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,124}</string>
                <key>spriteSourceSize</key>
                <string>{108,124}</string>
                <key>textureRect</key>
                <string>{{1932,844},{108,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>botonSalir.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,176}</string>
                <key>spriteSourceSize</key>
                <string>{420,176}</string>
                <key>textureRect</key>
                <string>{{3156,8},{420,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>botonSalirSel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,176}</string>
                <key>spriteSourceSize</key>
                <string>{420,176}</string>
                <key>textureRect</key>
                <string>{{3156,804},{420,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{2504,696},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>joystick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1796,844},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,508}</string>
                <key>spriteSourceSize</key>
                <string>{680,508}</string>
                <key>textureRect</key>
                <string>{{2504,8},{680,508}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>resetButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{604,200}</string>
                <key>spriteSourceSize</key>
                <string>{604,200}</string>
                <key>textureRect</key>
                <string>{{2544,804},{604,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resetButtonSel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{604,200}</string>
                <key>spriteSourceSize</key>
                <string>{604,200}</string>
                <key>textureRect</key>
                <string>{{3020,192},{604,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>resetWarning.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{376,360}</string>
                <key>spriteSourceSize</key>
                <string>{376,360}</string>
                <key>textureRect</key>
                <string>{{3228,192},{376,360}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stars.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1780,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1780,1000}</string>
                <key>textureRect</key>
                <string>{{8,8},{1780,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,256}</string>
                <key>spriteSourceSize</key>
                <string>{100,256}</string>
                <key>textureRect</key>
                <string>{{2280,844},{100,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{828,700}</string>
                <key>spriteSourceSize</key>
                <string>{828,700}</string>
                <key>textureRect</key>
                <string>{{1796,8},{828,700}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>common.gys</string>
            <key>size</key>
            <string>{3596,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f06048813e0607f75b4e96427fc34326:a6bff8e4061c7ad31f328dc5d538bf61:fe657052b1e9ebb9c14c787349d9801b$</string>
            <key>textureFileName</key>
            <string>common.gys</string>
        </dict>
    </dict>
</plist>
