<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>botProfile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1.5,-1.5}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{117,117}</string>
                <key>textureRect</key>
                <string>{{844,2048},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>botProfileOpen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{108,124}</string>
                <key>spriteSourceSize</key>
                <string>{108,123}</string>
                <key>textureRect</key>
                <string>{{844,1932},{108,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1.5}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,97}</string>
                <key>textureRect</key>
                <string>{{844,2440},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>joystick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{844,1796},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{680,508}</string>
                <key>spriteSourceSize</key>
                <string>{678,508}</string>
                <key>textureRect</key>
                <string>{{8,2504},{680,508}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stars.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{1780,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1778,1000}</string>
                <key>textureRect</key>
                <string>{{8,8},{1780,1000}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,256}</string>
                <key>spriteSourceSize</key>
                <string>{100,256}</string>
                <key>textureRect</key>
                <string>{{844,2176},{100,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{828,700}</string>
                <key>spriteSourceSize</key>
                <string>{826,700}</string>
                <key>textureRect</key>
                <string>{{8,1796},{828,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{1016,3020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cccab0512c2c208fd4d070b6f2a1b55d:98ed95f4020a1327b85095bc6f7b479e:d9a61af917d26893cbfb8ffb904e12ee$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
