<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>botFrente.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1.5}</string>
                <key>spriteSize</key>
                <string>{96,116}</string>
                <key>spriteSourceSize</key>
                <string>{94,113}</string>
                <key>textureRect</key>
                <string>{{1468,1628},{96,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>botPerfil.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1.5,-1.5}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{117,117}</string>
                <key>textureRect</key>
                <string>{{1604,1500},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>botPerfilOpen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{108,124}</string>
                <key>spriteSourceSize</key>
                <string>{108,123}</string>
                <key>textureRect</key>
                <string>{{1604,1384},{108,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>botonSalir.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{420,176}</string>
                <key>spriteSourceSize</key>
                <string>{420,174}</string>
                <key>textureRect</key>
                <string>{{1360,1016},{420,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>botonSalirSel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{420,176}</string>
                <key>spriteSourceSize</key>
                <string>{420,174}</string>
                <key>textureRect</key>
                <string>{{1360,1200},{420,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1.5}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,97}</string>
                <key>textureRect</key>
                <string>{{1468,1520},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>joystick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1468,1384},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{680,508}</string>
                <key>spriteSourceSize</key>
                <string>{678,508}</string>
                <key>textureRect</key>
                <string>{{844,1016},{680,508}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stars.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{1780,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1778,1000}</string>
                <key>textureRect</key>
                <string>{{8,8},{1780,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,256}</string>
                <key>spriteSourceSize</key>
                <string>{100,256}</string>
                <key>textureRect</key>
                <string>{{1360,1384},{100,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{828,700}</string>
                <key>spriteSourceSize</key>
                <string>{826,700}</string>
                <key>textureRect</key>
                <string>{{8,1016},{828,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{1796,1732}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e49911d693db123ebf3bf6da896252cc:7111f038ea0e78675c958c4c18706689:d9a61af917d26893cbfb8ffb904e12ee$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
