<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>logo1881.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{625,497}</string>
                <key>spriteSourceSize</key>
                <string>{625,497}</string>
                <key>textureRect</key>
                <string>{{2,560},{625,497}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logoCrea.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1155,315}</string>
                <key>spriteSourceSize</key>
                <string>{1155,315}</string>
                <key>textureRect</key>
                <string>{{629,2},{1155,315}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>logo_GRI.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{578,466}</string>
                <key>spriteSourceSize</key>
                <string>{578,466}</string>
                <key>textureRect</key>
                <string>{{2,1059},{578,466}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_gyscol.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{625,556}</string>
                <key>spriteSourceSize</key>
                <string>{625,556}</string>
                <key>textureRect</key>
                <string>{{2,2},{625,556}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>intro.gys</string>
            <key>size</key>
            <string>{946,1527}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12ef921ea60a172c5f50ee60596dd7dc:ab222d0a136e54fa57143e0427126f7a:c2eab79d1ad5b0ee3d98a979b839dd5d$</string>
            <key>textureFileName</key>
            <string>intro.gys</string>
        </dict>
    </dict>
</plist>
