<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tipJupiter1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,12}</string>
                <key>spriteSize</key>
                <string>{436,436}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1048,1280},{436,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipJupiter1Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{1780,252}</string>
                <key>spriteSourceSize</key>
                <string>{1778,250}</string>
                <key>textureRect</key>
                <string>{{8,8},{1780,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipJupiter2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-38}</string>
                <key>spriteSize</key>
                <string>{448,328}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1416,1760},{448,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipJupiter2Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{1780,252}</string>
                <key>spriteSourceSize</key>
                <string>{1778,250}</string>
                <key>textureRect</key>
                <string>{{8,268},{1780,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipJupiter3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-8}</string>
                <key>spriteSize</key>
                <string>{472,364}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1492,1280},{472,364}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipJupiter3Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{1780,252}</string>
                <key>spriteSourceSize</key>
                <string>{1778,250}</string>
                <key>textureRect</key>
                <string>{{8,528},{1780,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipJupiter4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,4}</string>
                <key>spriteSize</key>
                <string>{360,444}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1048,1724},{360,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipJupiter4Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{1780,252}</string>
                <key>spriteSourceSize</key>
                <string>{1778,250}</string>
                <key>textureRect</key>
                <string>{{8,788},{1780,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipJupiter5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,10}</string>
                <key>spriteSize</key>
                <string>{384,360}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1504,2096},{384,360}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipJupiter5Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{1780,252}</string>
                <key>spriteSourceSize</key>
                <string>{1778,250}</string>
                <key>textureRect</key>
                <string>{{268,788},{1780,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipJupiter6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-8}</string>
                <key>spriteSize</key>
                <string>{448,356}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1048,2176},{448,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipJupiter6Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{1780,252}</string>
                <key>spriteSourceSize</key>
                <string>{1778,250}</string>
                <key>textureRect</key>
                <string>{{528,788},{1780,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipJupiter7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-8}</string>
                <key>spriteSize</key>
                <string>{492,484}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1048,788},{492,484}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipJupiter7Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{1780,252}</string>
                <key>spriteSourceSize</key>
                <string>{1778,250}</string>
                <key>textureRect</key>
                <string>{{788,788},{1780,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>jupiterTips.gys</string>
            <key>size</key>
            <string>{1872,2576}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d7fa8f1471271df0a415940081492a8:c863e5c594578b43e8117bfe180e0f43:7545064eee1dd8997de5bd2d1439873f$</string>
            <key>textureFileName</key>
            <string>jupiterTips.gys</string>
        </dict>
    </dict>
</plist>
