<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-4}</string>
                <key>spriteSize</key>
                <string>{892,376}</string>
                <key>spriteSourceSize</key>
                <string>{900,384}</string>
                <key>textureRect</key>
                <string>{{928,3068},{892,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4000,1000}</string>
                <key>spriteSourceSize</key>
                <string>{4000,1000}</string>
                <key>textureRect</key>
                <string>{{8,8},{4000,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4000,1000}</string>
                <key>spriteSourceSize</key>
                <string>{4000,1000}</string>
                <key>textureRect</key>
                <string>{{8,1028},{4000,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4000,1000}</string>
                <key>spriteSourceSize</key>
                <string>{4000,1000}</string>
                <key>textureRect</key>
                <string>{{8,2048},{4000,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plat1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,152}</string>
                <key>spriteSourceSize</key>
                <string>{1024,152}</string>
                <key>textureRect</key>
                <string>{{1088,3464},{1024,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plat2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,25.5}</string>
                <key>spriteSize</key>
                <string>{512,92}</string>
                <key>spriteSourceSize</key>
                <string>{512,143}</string>
                <key>textureRect</key>
                <string>{{816,3068},{512,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plat3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,17}</string>
                <key>spriteSize</key>
                <string>{256,112}</string>
                <key>spriteSourceSize</key>
                <string>{256,146}</string>
                <key>textureRect</key>
                <string>{{1840,3068},{256,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thunder0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{592,788}</string>
                <key>spriteSourceSize</key>
                <string>{590,786}</string>
                <key>textureRect</key>
                <string>{{8,3068},{592,788}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thunderParticle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{140,184}</string>
                <key>spriteSourceSize</key>
                <string>{139,183}</string>
                <key>textureRect</key>
                <string>{{928,3464},{140,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>jupiter.gys</string>
            <key>size</key>
            <string>{4016,3668}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1fb1f697b4c26e130cd36b4c537000fa:b9a428be86a619706b39e1cb3593a2da:87e95ed86fc15aa9d580c588a6e58619$</string>
            <key>textureFileName</key>
            <string>jupiter.gys</string>
        </dict>
    </dict>
</plist>
