<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tipMars1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,22}</string>
                <key>spriteSize</key>
                <string>{372,400}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1756,1308},{372,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipMars1Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{1780,252}</string>
                <key>spriteSourceSize</key>
                <string>{1778,250}</string>
                <key>textureRect</key>
                <string>{{8,8},{1780,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipMars2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,18}</string>
                <key>spriteSize</key>
                <string>{364,376}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1020,1616},{364,376}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipMars2Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{1780,252}</string>
                <key>spriteSourceSize</key>
                <string>{1778,250}</string>
                <key>textureRect</key>
                <string>{{268,8},{1780,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipMars3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,10}</string>
                <key>spriteSize</key>
                <string>{344,360}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1404,1616},{344,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMars3Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{1780,252}</string>
                <key>spriteSourceSize</key>
                <string>{1778,250}</string>
                <key>textureRect</key>
                <string>{{528,8},{1780,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMars4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{500,300}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{908,1308},{500,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMars4Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{1780,252}</string>
                <key>spriteSourceSize</key>
                <string>{1778,250}</string>
                <key>textureRect</key>
                <string>{{528,268},{1780,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMars5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,0}</string>
                <key>spriteSize</key>
                <string>{296,324}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1416,1308},{296,324}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipMars5Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{1780,252}</string>
                <key>spriteSourceSize</key>
                <string>{1778,250}</string>
                <key>textureRect</key>
                <string>{{528,528},{1780,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMars6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,18}</string>
                <key>spriteSize</key>
                <string>{484,192}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{528,1772},{484,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMars6Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{1780,252}</string>
                <key>spriteSourceSize</key>
                <string>{1778,250}</string>
                <key>textureRect</key>
                <string>{{528,788},{1780,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMars7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-24}</string>
                <key>spriteSize</key>
                <string>{456,372}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{528,1308},{456,372}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipMars7Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{1780,252}</string>
                <key>spriteSourceSize</key>
                <string>{1778,250}</string>
                <key>textureRect</key>
                <string>{{528,1048},{1780,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>marsTips.gys</string>
            <key>size</key>
            <string>{2316,1988}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c4fc0f67d52c9099a0d8d746211d92a:f06f347fd04922edbbe90ee4b83e23ae:b89c8afa1a181d3e6f49aa9cad6004ba$</string>
            <key>textureFileName</key>
            <string>marsTips.gys</string>
        </dict>
    </dict>
</plist>
