<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{1780,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1778,1000}</string>
                <key>textureRect</key>
                <string>{{1416,1748},{1780,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>curiosity.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{300,164}</string>
                <key>spriteSourceSize</key>
                <string>{300,163}</string>
                <key>textureRect</key>
                <string>{{536,3148},{300,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>olympus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-206}</string>
                <key>spriteSize</key>
                <string>{1780,588}</string>
                <key>spriteSourceSize</key>
                <string>{1778,1000}</string>
                <key>textureRect</key>
                <string>{{1416,2764},{1780,588}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>oportunity.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{300,216}</string>
                <key>spriteSourceSize</key>
                <string>{300,215}</string>
                <key>textureRect</key>
                <string>{{1076,2788},{300,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-136}</string>
                <key>spriteSize</key>
                <string>{4000,728}</string>
                <key>spriteSourceSize</key>
                <string>{4000,1000}</string>
                <key>textureRect</key>
                <string>{{8,8},{4000,728}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-240}</string>
                <key>spriteSize</key>
                <string>{4000,520}</string>
                <key>spriteSourceSize</key>
                <string>{4000,1000}</string>
                <key>textureRect</key>
                <string>{{8,752},{4000,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-278}</string>
                <key>spriteSize</key>
                <string>{4000,444}</string>
                <key>spriteSourceSize</key>
                <string>{4000,1000}</string>
                <key>textureRect</key>
                <string>{{8,1288},{4000,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plat1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{1024,324}</string>
                <key>spriteSourceSize</key>
                <string>{1024,322}</string>
                <key>textureRect</key>
                <string>{{1076,1748},{1024,324}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plat2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1.5}</string>
                <key>spriteSize</key>
                <string>{512,184}</string>
                <key>spriteSourceSize</key>
                <string>{512,181}</string>
                <key>textureRect</key>
                <string>{{8,3148},{512,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plat3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{256,92}</string>
                <key>spriteSourceSize</key>
                <string>{256,91}</string>
                <key>textureRect</key>
                <string>{{852,3148},{256,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tornado.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,-1.5}</string>
                <key>spriteSize</key>
                <string>{1052,1384}</string>
                <key>spriteSourceSize</key>
                <string>{1128,1381}</string>
                <key>textureRect</key>
                <string>{{8,1748},{1052,1384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tornadoParticle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{60,56}</string>
                <key>spriteSourceSize</key>
                <string>{60,54}</string>
                <key>textureRect</key>
                <string>{{852,3256},{60,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>mars.gys</string>
            <key>size</key>
            <string>{4016,3360}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:403181d1b67e1e524b653a62d51f5287:c9a26345df4e81df80884050bfd387a5:e994bc37a19466afd1b7699565138a8c$</string>
            <key>textureFileName</key>
            <string>mars.gys</string>
        </dict>
    </dict>
</plist>
