<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tipMars1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,24}</string>
                <key>spriteSize</key>
                <string>{380,412}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{984,1828},{380,412}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipMars1Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{1780,252}</string>
                <key>spriteSourceSize</key>
                <string>{1778,250}</string>
                <key>textureRect</key>
                <string>{{8,8},{1780,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMars2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,20}</string>
                <key>spriteSize</key>
                <string>{372,388}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1404,1828},{372,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMars2Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{1780,252}</string>
                <key>spriteSourceSize</key>
                <string>{1778,250}</string>
                <key>textureRect</key>
                <string>{{8,268},{1780,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMars3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,12}</string>
                <key>spriteSize</key>
                <string>{348,364}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{476,2144},{348,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMars3Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{1780,252}</string>
                <key>spriteSourceSize</key>
                <string>{1778,250}</string>
                <key>textureRect</key>
                <string>{{8,528},{1780,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMars4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{500,308}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{476,1828},{500,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMars4Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{1780,252}</string>
                <key>spriteSourceSize</key>
                <string>{1778,250}</string>
                <key>textureRect</key>
                <string>{{8,788},{1780,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMars5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,4}</string>
                <key>spriteSize</key>
                <string>{300,332}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{8,2208},{300,332}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipMars5Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{1780,252}</string>
                <key>spriteSourceSize</key>
                <string>{1778,250}</string>
                <key>textureRect</key>
                <string>{{8,1048},{1780,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMars6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,20}</string>
                <key>spriteSize</key>
                <string>{484,204}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{832,2216},{484,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMars6Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{1780,252}</string>
                <key>spriteSourceSize</key>
                <string>{1778,250}</string>
                <key>textureRect</key>
                <string>{{8,1308},{1780,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMars7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-24}</string>
                <key>spriteSize</key>
                <string>{460,372}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{8,1828},{460,372}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMars7Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{1780,252}</string>
                <key>spriteSourceSize</key>
                <string>{1778,250}</string>
                <key>textureRect</key>
                <string>{{8,1568},{1780,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>marsTips.png</string>
            <key>size</key>
            <string>{1796,2516}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34bccdeca3e64564bfe31dc7eddd8b61:f06f347fd04922edbbe90ee4b83e23ae:d47bd4066b9b1c155b7cb9e13434265e$</string>
            <key>textureFileName</key>
            <string>marsTips.png</string>
        </dict>
    </dict>
</plist>
