<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{1780,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1778,1000}</string>
                <key>textureRect</key>
                <string>{{1420,1760},{1780,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>curiosity.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{300,164}</string>
                <key>spriteSourceSize</key>
                <string>{300,163}</string>
                <key>textureRect</key>
                <string>{{536,3160},{300,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>olympus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-204}</string>
                <key>spriteSize</key>
                <string>{1780,592}</string>
                <key>spriteSourceSize</key>
                <string>{1778,1000}</string>
                <key>textureRect</key>
                <string>{{1420,2776},{1780,592}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>oportunity.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{300,216}</string>
                <key>spriteSourceSize</key>
                <string>{300,215}</string>
                <key>textureRect</key>
                <string>{{1080,2800},{300,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-132}</string>
                <key>spriteSize</key>
                <string>{4000,736}</string>
                <key>spriteSourceSize</key>
                <string>{4000,1000}</string>
                <key>textureRect</key>
                <string>{{8,8},{4000,736}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-240}</string>
                <key>spriteSize</key>
                <string>{4000,520}</string>
                <key>spriteSourceSize</key>
                <string>{4000,1000}</string>
                <key>textureRect</key>
                <string>{{8,760},{4000,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-276}</string>
                <key>spriteSize</key>
                <string>{4000,448}</string>
                <key>spriteSourceSize</key>
                <string>{4000,1000}</string>
                <key>textureRect</key>
                <string>{{8,1296},{4000,448}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plat1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{1024,324}</string>
                <key>spriteSourceSize</key>
                <string>{1024,322}</string>
                <key>textureRect</key>
                <string>{{1080,1760},{1024,324}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plat2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1.5}</string>
                <key>spriteSize</key>
                <string>{512,184}</string>
                <key>spriteSourceSize</key>
                <string>{512,181}</string>
                <key>textureRect</key>
                <string>{{8,3160},{512,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plat3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{256,92}</string>
                <key>spriteSourceSize</key>
                <string>{256,91}</string>
                <key>textureRect</key>
                <string>{{852,3160},{256,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tornado.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-1.5}</string>
                <key>spriteSize</key>
                <string>{1056,1384}</string>
                <key>spriteSourceSize</key>
                <string>{1128,1381}</string>
                <key>textureRect</key>
                <string>{{8,1760},{1056,1384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tornadoParticle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{60,56}</string>
                <key>spriteSourceSize</key>
                <string>{60,54}</string>
                <key>textureRect</key>
                <string>{{852,3268},{60,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mars.png</string>
            <key>size</key>
            <string>{4016,3376}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68187a7ce82c5aed1c6eeb7eaa70357e:c9a26345df4e81df80884050bfd387a5:53af520387332c791d3ed2c517da9651$</string>
            <key>textureFileName</key>
            <string>mars.png</string>
        </dict>
    </dict>
</plist>
