<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>botonJugar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-5}</string>
                <key>spriteSize</key>
                <string>{396,160}</string>
                <key>spriteSourceSize</key>
                <string>{420,174}</string>
                <key>textureRect</key>
                <string>{{560,1048},{396,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>botonJugarSel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-5}</string>
                <key>spriteSize</key>
                <string>{404,168}</string>
                <key>spriteSourceSize</key>
                <string>{420,174}</string>
                <key>textureRect</key>
                <string>{{8,1448},{404,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>naveMenu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{544,392}</string>
                <key>spriteSourceSize</key>
                <string>{544,408}</string>
                <key>textureRect</key>
                <string>{{8,1048},{544,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nyaLogo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{1032,664}</string>
                <key>spriteSourceSize</key>
                <string>{1491,1191}</string>
                <key>textureRect</key>
                <string>{{8,8},{1032,664}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>menu.png</string>
            <key>size</key>
            <string>{728,1624}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0119215abed0bfe2a5b025153b37657:6fc249da80bc459265f55654f111409f:d8262aade98c5042ace66a849ab96659$</string>
            <key>textureFileName</key>
            <string>menu.png</string>
        </dict>
    </dict>
</plist>
