<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{1780,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1778,1000}</string>
                <key>textureRect</key>
                <string>{{12,1100},{1780,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>earth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1.5}</string>
                <key>spriteSize</key>
                <string>{584,600}</string>
                <key>spriteSourceSize</key>
                <string>{582,597}</string>
                <key>textureRect</key>
                <string>{{1808,1276},{584,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lunarLander.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,652}</string>
                <key>spriteSourceSize</key>
                <string>{468,652}</string>
                <key>textureRect</key>
                <string>{{2848,1100},{468,652}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>meteor1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1.5,-51}</string>
                <key>spriteSize</key>
                <string>{384,300}</string>
                <key>spriteSourceSize</key>
                <string>{381,702}</string>
                <key>textureRect</key>
                <string>{{2848,1584},{384,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meteor2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1.5,-9}</string>
                <key>spriteSize</key>
                <string>{384,472}</string>
                <key>spriteSourceSize</key>
                <string>{381,702}</string>
                <key>textureRect</key>
                <string>{{3516,1100},{384,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meteor3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5.5,-11}</string>
                <key>spriteSize</key>
                <string>{376,380}</string>
                <key>spriteSourceSize</key>
                <string>{381,702}</string>
                <key>textureRect</key>
                <string>{{3248,1588},{376,380}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>montana3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1.5,0}</string>
                <key>spriteSize</key>
                <string>{352,140}</string>
                <key>spriteSourceSize</key>
                <string>{349,140}</string>
                <key>textureRect</key>
                <string>{{2424,1820},{352,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>montana4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-1.5}</string>
                <key>spriteSize</key>
                <string>{528,180}</string>
                <key>spriteSourceSize</key>
                <string>{527,177}</string>
                <key>textureRect</key>
                <string>{{2424,1276},{528,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-253}</string>
                <key>spriteSize</key>
                <string>{4000,284}</string>
                <key>spriteSourceSize</key>
                <string>{4000,786}</string>
                <key>textureRect</key>
                <string>{{12,800},{4000,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-215}</string>
                <key>spriteSize</key>
                <string>{4000,360}</string>
                <key>spriteSourceSize</key>
                <string>{4000,786}</string>
                <key>textureRect</key>
                <string>{{12,424},{4000,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-197}</string>
                <key>spriteSize</key>
                <string>{4000,396}</string>
                <key>spriteSourceSize</key>
                <string>{4000,786}</string>
                <key>textureRect</key>
                <string>{{12,12},{4000,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plat1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{512,212}</string>
                <key>spriteSourceSize</key>
                <string>{512,211}</string>
                <key>textureRect</key>
                <string>{{2620,1276},{512,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plat2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1.5}</string>
                <key>spriteSize</key>
                <string>{1024,160}</string>
                <key>spriteSourceSize</key>
                <string>{1024,163}</string>
                <key>textureRect</key>
                <string>{{1808,1100},{1024,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plat3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,61.5}</string>
                <key>spriteSize</key>
                <string>{256,40}</string>
                <key>spriteSourceSize</key>
                <string>{256,163}</string>
                <key>textureRect</key>
                <string>{{2792,1804},{256,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>moon.gys</string>
            <key>size</key>
            <string>{4024,2112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c407dece6872cfde9761761a488cc60:942958f99a7c4df73e1c893dca05e313:3407ad9fb5143b5aa8c3ea0bd7e5ca2a$</string>
            <key>textureFileName</key>
            <string>moon.gys</string>
        </dict>
    </dict>
</plist>
