<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tipMoon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,22}</string>
                <key>spriteSize</key>
                <string>{476,424}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1048,1284},{476,424}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMoon1Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{1780,252}</string>
                <key>spriteSourceSize</key>
                <string>{1778,250}</string>
                <key>textureRect</key>
                <string>{{8,8},{1780,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMoon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-32}</string>
                <key>spriteSize</key>
                <string>{460,356}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1504,1716},{460,356}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipMoon2Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{1780,252}</string>
                <key>spriteSourceSize</key>
                <string>{1778,250}</string>
                <key>textureRect</key>
                <string>{{8,268},{1780,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMoon3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{500,488}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1048,788},{500,488}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMoon3Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{1780,252}</string>
                <key>spriteSourceSize</key>
                <string>{1778,250}</string>
                <key>textureRect</key>
                <string>{{8,528},{1780,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMoon4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,18}</string>
                <key>spriteSize</key>
                <string>{448,440}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1048,1716},{448,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMoon4Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{1780,252}</string>
                <key>spriteSourceSize</key>
                <string>{1778,250}</string>
                <key>textureRect</key>
                <string>{{8,788},{1780,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipMoon5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-4}</string>
                <key>spriteSize</key>
                <string>{392,436}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1048,2164},{392,436}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipMoon5Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{1780,252}</string>
                <key>spriteSourceSize</key>
                <string>{1778,250}</string>
                <key>textureRect</key>
                <string>{{268,788},{1780,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipMoon6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{456,192}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1556,1120},{456,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipMoon6Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{1780,252}</string>
                <key>spriteSourceSize</key>
                <string>{1778,250}</string>
                <key>textureRect</key>
                <string>{{528,788},{1780,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipMoon7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,0}</string>
                <key>spriteSize</key>
                <string>{296,324}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1556,788},{296,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMoon7Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{1780,252}</string>
                <key>spriteSourceSize</key>
                <string>{1778,250}</string>
                <key>textureRect</key>
                <string>{{788,788},{1780,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>moonTips.gys</string>
            <key>size</key>
            <string>{1868,2576}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:360729aaff38ce0b3aa2bce0fb0bb7ac:12ee3008cb890efa1fea7d5cedfd2055:001d686689d909101403a09cc9f83316$</string>
            <key>textureFileName</key>
            <string>moonTips.gys</string>
        </dict>
    </dict>
</plist>
