<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{1780,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1778,1000}</string>
                <key>textureRect</key>
                <string>{{8,8},{1780,1000}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>backgroundFX.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,90}</string>
                <key>spriteSize</key>
                <string>{1780,820}</string>
                <key>spriteSourceSize</key>
                <string>{1778,1000}</string>
                <key>textureRect</key>
                <string>{{1016,8},{1780,820}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>capsule.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{268,324}</string>
                <key>spriteSourceSize</key>
                <string>{282,330}</string>
                <key>textureRect</key>
                <string>{{896,1796},{268,324}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>capsuleLight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-45}</string>
                <key>spriteSize</key>
                <string>{192,244}</string>
                <key>spriteSourceSize</key>
                <string>{282,330}</string>
                <key>textureRect</key>
                <string>{{1228,1796},{192,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2.5,2.5}</string>
                <key>spriteSize</key>
                <string>{880,408}</string>
                <key>spriteSourceSize</key>
                <string>{925,493}</string>
                <key>textureRect</key>
                <string>{{8,1796},{880,408}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>puerto.gys</string>
            <key>size</key>
            <string>{1844,2212}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ecbfd60430b1d6f41b48d1d91fd7ba7:e3b16c6e89aeb5bc35015b549243c803:25112b876c3e01721e6fdda88f08680b$</string>
            <key>textureFileName</key>
            <string>puerto.gys</string>
        </dict>
    </dict>
</plist>
