<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{120,128}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{476,316},{120,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,4}</string>
                <key>spriteSize</key>
                <string>{300,332}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{476,8},{300,332}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doubleJump.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-24}</string>
                <key>spriteSize</key>
                <string>{460,372}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{8,8},{460,372}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{180,200}</string>
                <key>spriteSourceSize</key>
                <string>{199,199}</string>
                <key>textureRect</key>
                <string>{{816,8},{180,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{143,143}</string>
                <key>textureRect</key>
                <string>{{816,216},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tutorial.png</string>
            <key>size</key>
            <string>{1004,444}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d668165a445de17819223a41003b229:ad9985ee78227c9fe50e61777c92c395:ece0306e644590bd77178891e6ea10bc$</string>
            <key>textureFileName</key>
            <string>tutorial.png</string>
        </dict>
    </dict>
</plist>
