<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{784,216},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,4}</string>
                <key>spriteSize</key>
                <string>{300,332}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{476,8},{300,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doubleJump.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-24}</string>
                <key>spriteSize</key>
                <string>{460,372}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{8,8},{460,372}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{180,200}</string>
                <key>spriteSourceSize</key>
                <string>{199,199}</string>
                <key>textureRect</key>
                <string>{{784,8},{180,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tutorial.png</string>
            <key>size</key>
            <string>{972,388}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:afb89da6dd775cce11f250dec20be542:c4d5f9e7396ce5d876d3651dfe523682:ece0306e644590bd77178891e6ea10bc$</string>
            <key>textureFileName</key>
            <string>tutorial.png</string>
        </dict>
    </dict>
</plist>
