<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tipUranus1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-4}</string>
                <key>spriteSize</key>
                <string>{328,252}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1692,1792},{328,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipUranus1Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{1780,252}</string>
                <key>spriteSourceSize</key>
                <string>{1778,250}</string>
                <key>textureRect</key>
                <string>{{8,8},{1780,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipUranus2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,20}</string>
                <key>spriteSize</key>
                <string>{464,164}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1792,528},{464,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipUranus2Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{1780,252}</string>
                <key>spriteSourceSize</key>
                <string>{1778,250}</string>
                <key>textureRect</key>
                <string>{{8,268},{1780,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipUranus3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,20}</string>
                <key>spriteSize</key>
                <string>{376,396}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1308,1440},{376,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipUranus3Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{1780,252}</string>
                <key>spriteSourceSize</key>
                <string>{1778,250}</string>
                <key>textureRect</key>
                <string>{{8,528},{1780,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipUranus4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,22}</string>
                <key>spriteSize</key>
                <string>{476,440}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1308,528},{476,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipUranus4Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{1780,252}</string>
                <key>spriteSourceSize</key>
                <string>{1778,250}</string>
                <key>textureRect</key>
                <string>{{268,528},{1780,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipUranus5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,10}</string>
                <key>spriteSize</key>
                <string>{460,456}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1308,976},{460,456}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipUranus5Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{1780,252}</string>
                <key>spriteSourceSize</key>
                <string>{1778,250}</string>
                <key>textureRect</key>
                <string>{{528,528},{1780,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipUranus6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-28}</string>
                <key>spriteSize</key>
                <string>{376,268}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1308,1844},{376,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipUranus6Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{1780,252}</string>
                <key>spriteSourceSize</key>
                <string>{1778,250}</string>
                <key>textureRect</key>
                <string>{{788,528},{1780,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipUranus7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{344,264}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1692,1440},{344,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipUranus7Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{1780,252}</string>
                <key>spriteSourceSize</key>
                <string>{1778,250}</string>
                <key>textureRect</key>
                <string>{{1048,528},{1780,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>uranusTips.gys</string>
            <key>size</key>
            <string>{1964,2316}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:007dd87802da0ee292b61884b014797b:10550a399227e96fd3a302127d68ac4c:7efaec4a2a97092734bbf00f0dcda0ae$</string>
            <key>textureFileName</key>
            <string>uranusTips.gys</string>
        </dict>
    </dict>
</plist>
