<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{1780,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1778,1000}</string>
                <key>textureRect</key>
                <string>{{12,2028},{1780,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iceParticle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{100,112}</string>
                <key>spriteSourceSize</key>
                <string>{100,110}</string>
                <key>textureRect</key>
                <string>{{2452,2028},{100,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-212}</string>
                <key>spriteSize</key>
                <string>{4000,576}</string>
                <key>spriteSourceSize</key>
                <string>{4000,1000}</string>
                <key>textureRect</key>
                <string>{{12,940},{4000,576}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-44}</string>
                <key>spriteSize</key>
                <string>{4000,912}</string>
                <key>spriteSourceSize</key>
                <string>{4000,1000}</string>
                <key>textureRect</key>
                <string>{{12,12},{4000,912}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-260}</string>
                <key>spriteSize</key>
                <string>{4000,480}</string>
                <key>spriteSourceSize</key>
                <string>{4000,1000}</string>
                <key>textureRect</key>
                <string>{{12,1532},{4000,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plat1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,152}</string>
                <key>spriteSourceSize</key>
                <string>{1024,152}</string>
                <key>textureRect</key>
                <string>{{2356,2300},{1024,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plat2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{512,144}</string>
                <key>spriteSourceSize</key>
                <string>{512,143}</string>
                <key>textureRect</key>
                <string>{{2196,2028},{512,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plat3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,33}</string>
                <key>spriteSize</key>
                <string>{256,80}</string>
                <key>spriteSourceSize</key>
                <string>{256,146}</string>
                <key>textureRect</key>
                <string>{{2356,2028},{256,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spike0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1.5,0}</string>
                <key>spriteSize</key>
                <string>{552,372}</string>
                <key>spriteSourceSize</key>
                <string>{549,372}</string>
                <key>textureRect</key>
                <string>{{1808,2028},{552,372}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spike1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{432,372}</string>
                <key>spriteSourceSize</key>
                <string>{430,372}</string>
                <key>textureRect</key>
                <string>{{1808,2596},{432,372}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spike2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-72.5}</string>
                <key>spriteSize</key>
                <string>{464,232}</string>
                <key>spriteSourceSize</key>
                <string>{480,375}</string>
                <key>textureRect</key>
                <string>{{2196,2556},{464,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>uranus.png</string>
            <key>size</key>
            <string>{4024,3040}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cdb8be471d0cc9639e7ba6ca3018800f:6db249cde91a55c4b9963e17adf047bb:54121e9e1806a078185fee5b0a3f348b$</string>
            <key>textureFileName</key>
            <string>uranus.png</string>
        </dict>
    </dict>
</plist>
