<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{1780,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1778,1000}</string>
                <key>textureRect</key>
                <string>{{12,2008},{1780,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iceParticle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{100,112}</string>
                <key>spriteSourceSize</key>
                <string>{100,110}</string>
                <key>textureRect</key>
                <string>{{2448,2008},{100,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-216}</string>
                <key>spriteSize</key>
                <string>{4000,568}</string>
                <key>spriteSourceSize</key>
                <string>{4000,1000}</string>
                <key>textureRect</key>
                <string>{{12,936},{4000,568}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-46}</string>
                <key>spriteSize</key>
                <string>{4000,908}</string>
                <key>spriteSourceSize</key>
                <string>{4000,1000}</string>
                <key>textureRect</key>
                <string>{{12,12},{4000,908}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-264}</string>
                <key>spriteSize</key>
                <string>{4000,472}</string>
                <key>spriteSourceSize</key>
                <string>{4000,1000}</string>
                <key>textureRect</key>
                <string>{{12,1520},{4000,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plat1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,152}</string>
                <key>spriteSourceSize</key>
                <string>{1024,152}</string>
                <key>textureRect</key>
                <string>{{2356,2280},{1024,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plat2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{512,144}</string>
                <key>spriteSourceSize</key>
                <string>{512,143}</string>
                <key>textureRect</key>
                <string>{{2196,2008},{512,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plat3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,35}</string>
                <key>spriteSize</key>
                <string>{256,76}</string>
                <key>spriteSourceSize</key>
                <string>{256,146}</string>
                <key>textureRect</key>
                <string>{{2356,2008},{256,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spike0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1.5,0}</string>
                <key>spriteSize</key>
                <string>{552,372}</string>
                <key>spriteSourceSize</key>
                <string>{549,372}</string>
                <key>textureRect</key>
                <string>{{1808,2008},{552,372}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spike1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{432,372}</string>
                <key>spriteSourceSize</key>
                <string>{430,372}</string>
                <key>textureRect</key>
                <string>{{1808,2576},{432,372}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spike2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-72.5}</string>
                <key>spriteSize</key>
                <string>{464,232}</string>
                <key>spriteSourceSize</key>
                <string>{480,375}</string>
                <key>textureRect</key>
                <string>{{2196,2536},{464,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>uranus.gys</string>
            <key>size</key>
            <string>{4024,3020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee0f843b567993738bee1b49bad5906c:6db249cde91a55c4b9963e17adf047bb:1502873024734d08a8fc1f62923e2bfe$</string>
            <key>textureFileName</key>
            <string>uranus.gys</string>
        </dict>
    </dict>
</plist>
