<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>botFrente.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,58}</string>
                <key>spriteSourceSize</key>
                <string>{48,58}</string>
                <key>textureRect</key>
                <string>{{1088,422},{48,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>botPerfil.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1024,422},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>botPerfilOpen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,62}</string>
                <key>spriteSourceSize</key>
                <string>{54,62}</string>
                <key>textureRect</key>
                <string>{{966,422},{54,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>botonSalir.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,88}</string>
                <key>spriteSourceSize</key>
                <string>{210,88}</string>
                <key>textureRect</key>
                <string>{{1578,4},{210,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>botonSalirSel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,88}</string>
                <key>spriteSourceSize</key>
                <string>{210,88}</string>
                <key>textureRect</key>
                <string>{{1578,402},{210,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1252,348},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>joystick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{898,422},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,254}</string>
                <key>spriteSourceSize</key>
                <string>{340,254}</string>
                <key>textureRect</key>
                <string>{{1252,4},{340,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>resetButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,100}</string>
                <key>spriteSourceSize</key>
                <string>{302,100}</string>
                <key>textureRect</key>
                <string>{{1272,402},{302,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resetButtonSel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,100}</string>
                <key>spriteSourceSize</key>
                <string>{302,100}</string>
                <key>textureRect</key>
                <string>{{1510,96},{302,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>resetWarning.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,180}</string>
                <key>spriteSourceSize</key>
                <string>{188,180}</string>
                <key>textureRect</key>
                <string>{{1614,96},{188,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stars.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{890,500}</string>
                <key>spriteSourceSize</key>
                <string>{890,500}</string>
                <key>textureRect</key>
                <string>{{4,4},{890,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,128}</string>
                <key>spriteSourceSize</key>
                <string>{50,128}</string>
                <key>textureRect</key>
                <string>{{1140,422},{50,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{414,350}</string>
                <key>spriteSourceSize</key>
                <string>{414,350}</string>
                <key>textureRect</key>
                <string>{{898,4},{414,350}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>common.gys</string>
            <key>size</key>
            <string>{1798,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f06048813e0607f75b4e96427fc34326:a6bff8e4061c7ad31f328dc5d538bf61:fe657052b1e9ebb9c14c787349d9801b$</string>
            <key>textureFileName</key>
            <string>common.gys</string>
        </dict>
    </dict>
</plist>
