<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{446,188}</string>
                <key>spriteSourceSize</key>
                <string>{450,192}</string>
                <key>textureRect</key>
                <string>{{464,1534},{446,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,500}</string>
                <key>spriteSourceSize</key>
                <string>{2000,500}</string>
                <key>textureRect</key>
                <string>{{4,4},{2000,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,500}</string>
                <key>spriteSourceSize</key>
                <string>{2000,500}</string>
                <key>textureRect</key>
                <string>{{4,514},{2000,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,500}</string>
                <key>spriteSourceSize</key>
                <string>{2000,500}</string>
                <key>textureRect</key>
                <string>{{4,1024},{2000,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plat1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,76}</string>
                <key>spriteSourceSize</key>
                <string>{512,76}</string>
                <key>textureRect</key>
                <string>{{544,1732},{512,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plat2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{256,46}</string>
                <key>spriteSourceSize</key>
                <string>{256,72}</string>
                <key>textureRect</key>
                <string>{{408,1534},{256,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plat3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8.5}</string>
                <key>spriteSize</key>
                <string>{128,56}</string>
                <key>spriteSourceSize</key>
                <string>{128,73}</string>
                <key>textureRect</key>
                <string>{{920,1534},{128,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thunder0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{296,394}</string>
                <key>spriteSourceSize</key>
                <string>{295,393}</string>
                <key>textureRect</key>
                <string>{{4,1534},{296,394}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thunderParticle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,92}</string>
                <key>spriteSourceSize</key>
                <string>{70,92}</string>
                <key>textureRect</key>
                <string>{{464,1732},{70,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>jupiter.gys</string>
            <key>size</key>
            <string>{2008,1834}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1fb1f697b4c26e130cd36b4c537000fa:b9a428be86a619706b39e1cb3593a2da:87e95ed86fc15aa9d580c588a6e58619$</string>
            <key>textureFileName</key>
            <string>jupiter.gys</string>
        </dict>
    </dict>
</plist>
