<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tipJupiter1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,6}</string>
                <key>spriteSize</key>
                <string>{218,218}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{524,640},{218,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipJupiter1Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{890,126}</string>
                <key>spriteSourceSize</key>
                <string>{889,125}</string>
                <key>textureRect</key>
                <string>{{4,4},{890,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipJupiter2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-19}</string>
                <key>spriteSize</key>
                <string>{224,164}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{708,880},{224,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipJupiter2Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{890,126}</string>
                <key>spriteSourceSize</key>
                <string>{889,125}</string>
                <key>textureRect</key>
                <string>{{4,134},{890,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipJupiter3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{236,182}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{746,640},{236,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipJupiter3Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{890,126}</string>
                <key>spriteSourceSize</key>
                <string>{889,125}</string>
                <key>textureRect</key>
                <string>{{4,264},{890,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipJupiter4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{180,222}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{524,862},{180,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipJupiter4Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{890,126}</string>
                <key>spriteSourceSize</key>
                <string>{889,125}</string>
                <key>textureRect</key>
                <string>{{4,394},{890,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipJupiter5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,5}</string>
                <key>spriteSize</key>
                <string>{192,180}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{752,1048},{192,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipJupiter5Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{890,126}</string>
                <key>spriteSourceSize</key>
                <string>{889,125}</string>
                <key>textureRect</key>
                <string>{{134,394},{890,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipJupiter6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{224,178}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{524,1088},{224,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipJupiter6Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{890,126}</string>
                <key>spriteSourceSize</key>
                <string>{889,125}</string>
                <key>textureRect</key>
                <string>{{264,394},{890,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipJupiter7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{246,242}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{524,394},{246,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipJupiter7Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{890,126}</string>
                <key>spriteSourceSize</key>
                <string>{889,125}</string>
                <key>textureRect</key>
                <string>{{394,394},{890,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>jupiterTips.gys</string>
            <key>size</key>
            <string>{936,1288}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d7fa8f1471271df0a415940081492a8:c863e5c594578b43e8117bfe180e0f43:7545064eee1dd8997de5bd2d1439873f$</string>
            <key>textureFileName</key>
            <string>jupiterTips.gys</string>
        </dict>
    </dict>
</plist>
