<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{890,500}</string>
                <key>spriteSourceSize</key>
                <string>{889,500}</string>
                <key>textureRect</key>
                <string>{{710,880},{890,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>curiosity.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,82}</string>
                <key>spriteSourceSize</key>
                <string>{150,82}</string>
                <key>textureRect</key>
                <string>{{268,1580},{150,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>olympus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-102}</string>
                <key>spriteSize</key>
                <string>{890,296}</string>
                <key>spriteSourceSize</key>
                <string>{889,500}</string>
                <key>textureRect</key>
                <string>{{710,1388},{890,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>oportunity.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,108}</string>
                <key>spriteSourceSize</key>
                <string>{150,108}</string>
                <key>textureRect</key>
                <string>{{540,1400},{150,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-66}</string>
                <key>spriteSize</key>
                <string>{2000,368}</string>
                <key>spriteSourceSize</key>
                <string>{2000,500}</string>
                <key>textureRect</key>
                <string>{{4,4},{2000,368}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-120}</string>
                <key>spriteSize</key>
                <string>{2000,260}</string>
                <key>spriteSourceSize</key>
                <string>{2000,500}</string>
                <key>textureRect</key>
                <string>{{4,380},{2000,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-138}</string>
                <key>spriteSize</key>
                <string>{2000,224}</string>
                <key>spriteSourceSize</key>
                <string>{2000,500}</string>
                <key>textureRect</key>
                <string>{{4,648},{2000,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plat1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{512,162}</string>
                <key>spriteSourceSize</key>
                <string>{512,161}</string>
                <key>textureRect</key>
                <string>{{540,880},{512,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plat2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{256,92}</string>
                <key>spriteSourceSize</key>
                <string>{256,91}</string>
                <key>textureRect</key>
                <string>{{4,1580},{256,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plat3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,46}</string>
                <key>spriteSourceSize</key>
                <string>{128,46}</string>
                <key>textureRect</key>
                <string>{{426,1580},{128,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tornado.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-0.5}</string>
                <key>spriteSize</key>
                <string>{528,692}</string>
                <key>spriteSourceSize</key>
                <string>{564,691}</string>
                <key>textureRect</key>
                <string>{{4,880},{528,692}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tornadoParticle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{30,28}</string>
                <key>spriteSourceSize</key>
                <string>{30,27}</string>
                <key>textureRect</key>
                <string>{{426,1634},{30,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mars.png</string>
            <key>size</key>
            <string>{2008,1688}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68187a7ce82c5aed1c6eeb7eaa70357e:c9a26345df4e81df80884050bfd387a5:53af520387332c791d3ed2c517da9651$</string>
            <key>textureFileName</key>
            <string>mars.png</string>
        </dict>
    </dict>
</plist>
