<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tipMars1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,12}</string>
                <key>spriteSize</key>
                <string>{190,206}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{492,914},{190,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipMars1Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{890,126}</string>
                <key>spriteSourceSize</key>
                <string>{889,125}</string>
                <key>textureRect</key>
                <string>{{4,4},{890,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMars2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,10}</string>
                <key>spriteSize</key>
                <string>{186,194}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{702,914},{186,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMars2Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{890,126}</string>
                <key>spriteSourceSize</key>
                <string>{889,125}</string>
                <key>textureRect</key>
                <string>{{4,134},{890,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMars3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,6}</string>
                <key>spriteSize</key>
                <string>{174,182}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{238,1072},{174,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMars3Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{890,126}</string>
                <key>spriteSourceSize</key>
                <string>{889,125}</string>
                <key>textureRect</key>
                <string>{{4,264},{890,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMars4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{250,154}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{238,914},{250,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMars4Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{890,126}</string>
                <key>spriteSourceSize</key>
                <string>{889,125}</string>
                <key>textureRect</key>
                <string>{{4,394},{890,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMars5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,2}</string>
                <key>spriteSize</key>
                <string>{150,166}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{4,1104},{150,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipMars5Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{890,126}</string>
                <key>spriteSourceSize</key>
                <string>{889,125}</string>
                <key>textureRect</key>
                <string>{{4,524},{890,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMars6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,10}</string>
                <key>spriteSize</key>
                <string>{242,102}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{416,1108},{242,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMars6Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{890,126}</string>
                <key>spriteSourceSize</key>
                <string>{889,125}</string>
                <key>textureRect</key>
                <string>{{4,654},{890,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMars7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-12}</string>
                <key>spriteSize</key>
                <string>{230,186}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{4,914},{230,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMars7Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{890,126}</string>
                <key>spriteSourceSize</key>
                <string>{889,125}</string>
                <key>textureRect</key>
                <string>{{4,784},{890,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>marsTips.png</string>
            <key>size</key>
            <string>{898,1258}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34bccdeca3e64564bfe31dc7eddd8b61:f06f347fd04922edbbe90ee4b83e23ae:d47bd4066b9b1c155b7cb9e13434265e$</string>
            <key>textureFileName</key>
            <string>marsTips.png</string>
        </dict>
    </dict>
</plist>
