<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{890,500}</string>
                <key>spriteSourceSize</key>
                <string>{889,500}</string>
                <key>textureRect</key>
                <string>{{708,874},{890,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>curiosity.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,82}</string>
                <key>spriteSourceSize</key>
                <string>{150,82}</string>
                <key>textureRect</key>
                <string>{{268,1574},{150,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>olympus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-103}</string>
                <key>spriteSize</key>
                <string>{890,294}</string>
                <key>spriteSourceSize</key>
                <string>{889,500}</string>
                <key>textureRect</key>
                <string>{{708,1382},{890,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>oportunity.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,108}</string>
                <key>spriteSourceSize</key>
                <string>{150,108}</string>
                <key>textureRect</key>
                <string>{{538,1394},{150,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-68}</string>
                <key>spriteSize</key>
                <string>{2000,364}</string>
                <key>spriteSourceSize</key>
                <string>{2000,500}</string>
                <key>textureRect</key>
                <string>{{4,4},{2000,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-120}</string>
                <key>spriteSize</key>
                <string>{2000,260}</string>
                <key>spriteSourceSize</key>
                <string>{2000,500}</string>
                <key>textureRect</key>
                <string>{{4,376},{2000,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-139}</string>
                <key>spriteSize</key>
                <string>{2000,222}</string>
                <key>spriteSourceSize</key>
                <string>{2000,500}</string>
                <key>textureRect</key>
                <string>{{4,644},{2000,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plat1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{512,162}</string>
                <key>spriteSourceSize</key>
                <string>{512,161}</string>
                <key>textureRect</key>
                <string>{{538,874},{512,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plat2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{256,92}</string>
                <key>spriteSourceSize</key>
                <string>{256,91}</string>
                <key>textureRect</key>
                <string>{{4,1574},{256,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plat3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,46}</string>
                <key>spriteSourceSize</key>
                <string>{128,46}</string>
                <key>textureRect</key>
                <string>{{426,1574},{128,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tornado.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-0.5}</string>
                <key>spriteSize</key>
                <string>{526,692}</string>
                <key>spriteSourceSize</key>
                <string>{564,691}</string>
                <key>textureRect</key>
                <string>{{4,874},{526,692}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tornadoParticle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{30,28}</string>
                <key>spriteSourceSize</key>
                <string>{30,27}</string>
                <key>textureRect</key>
                <string>{{426,1628},{30,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>mars.gys</string>
            <key>size</key>
            <string>{2008,1680}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:403181d1b67e1e524b653a62d51f5287:c9a26345df4e81df80884050bfd387a5:e994bc37a19466afd1b7699565138a8c$</string>
            <key>textureFileName</key>
            <string>mars.gys</string>
        </dict>
    </dict>
</plist>
