<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>botonJugar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2.5}</string>
                <key>spriteSize</key>
                <string>{198,80}</string>
                <key>spriteSourceSize</key>
                <string>{210,87}</string>
                <key>textureRect</key>
                <string>{{280,524},{198,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>botonJugarSel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2.5}</string>
                <key>spriteSize</key>
                <string>{202,84}</string>
                <key>spriteSourceSize</key>
                <string>{210,87}</string>
                <key>textureRect</key>
                <string>{{4,724},{202,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>naveMenu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{272,196}</string>
                <key>spriteSourceSize</key>
                <string>{272,204}</string>
                <key>textureRect</key>
                <string>{{4,524},{272,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nyaLogo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{516,332}</string>
                <key>spriteSourceSize</key>
                <string>{746,596}</string>
                <key>textureRect</key>
                <string>{{4,4},{516,332}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>menu.png</string>
            <key>size</key>
            <string>{364,812}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0119215abed0bfe2a5b025153b37657:6fc249da80bc459265f55654f111409f:d8262aade98c5042ace66a849ab96659$</string>
            <key>textureFileName</key>
            <string>menu.png</string>
        </dict>
    </dict>
</plist>
