<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>botonBitacora.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-0.5}</string>
                <key>spriteSize</key>
                <string>{202,76}</string>
                <key>spriteSourceSize</key>
                <string>{210,87}</string>
                <key>textureRect</key>
                <string>{{4,448},{202,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>botonBitacoraSel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-0.5}</string>
                <key>spriteSize</key>
                <string>{208,88}</string>
                <key>spriteSourceSize</key>
                <string>{210,87}</string>
                <key>textureRect</key>
                <string>{{4,1044},{208,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>botonJugar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2.5}</string>
                <key>spriteSize</key>
                <string>{194,76}</string>
                <key>spriteSourceSize</key>
                <string>{210,87}</string>
                <key>textureRect</key>
                <string>{{4,964},{194,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>botonJugarSel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2.5}</string>
                <key>spriteSize</key>
                <string>{206,84}</string>
                <key>spriteSourceSize</key>
                <string>{210,87}</string>
                <key>textureRect</key>
                <string>{{4,1256},{206,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>botonOpciones.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{198,76}</string>
                <key>spriteSourceSize</key>
                <string>{210,87}</string>
                <key>textureRect</key>
                <string>{{4,528},{198,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>botonOpcionesSel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1.5}</string>
                <key>spriteSize</key>
                <string>{208,86}</string>
                <key>spriteSourceSize</key>
                <string>{210,87}</string>
                <key>textureRect</key>
                <string>{{96,1044},{208,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>botonSalir.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-0.5}</string>
                <key>spriteSize</key>
                <string>{198,76}</string>
                <key>spriteSourceSize</key>
                <string>{210,87}</string>
                <key>textureRect</key>
                <string>{{4,608},{198,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>botonSalirSel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-0.5}</string>
                <key>spriteSize</key>
                <string>{206,84}</string>
                <key>spriteSourceSize</key>
                <string>{210,87}</string>
                <key>textureRect</key>
                <string>{{92,1256},{206,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>logo_akua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,1.5}</string>
                <key>spriteSize</key>
                <string>{440,204}</string>
                <key>spriteSourceSize</key>
                <string>{463,247}</string>
                <key>textureRect</key>
                <string>{{4,4},{440,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>naveMenu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{272,196}</string>
                <key>spriteSourceSize</key>
                <string>{272,204}</string>
                <key>textureRect</key>
                <string>{{4,688},{272,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>menu.gys</string>
            <key>size</key>
            <string>{212,1466}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6df3a5bdc01550305553b5ad928b7688:dbd4258497792e540c2c71f632c9bd75:6df788bf60202e005328e767f9ed0493$</string>
            <key>textureFileName</key>
            <string>menu.gys</string>
        </dict>
    </dict>
</plist>
