<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{890,500}</string>
                <key>spriteSourceSize</key>
                <string>{889,500}</string>
                <key>textureRect</key>
                <string>{{6,550},{890,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>earth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{292,300}</string>
                <key>spriteSourceSize</key>
                <string>{291,299}</string>
                <key>textureRect</key>
                <string>{{904,638},{292,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lunarLander.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,326}</string>
                <key>spriteSourceSize</key>
                <string>{234,326}</string>
                <key>textureRect</key>
                <string>{{1424,550},{234,326}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>meteor1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-25.5}</string>
                <key>spriteSize</key>
                <string>{192,150}</string>
                <key>spriteSourceSize</key>
                <string>{191,351}</string>
                <key>textureRect</key>
                <string>{{1424,792},{192,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meteor2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-4.5}</string>
                <key>spriteSize</key>
                <string>{192,236}</string>
                <key>spriteSourceSize</key>
                <string>{191,351}</string>
                <key>textureRect</key>
                <string>{{1758,550},{192,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meteor3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2.5,-5.5}</string>
                <key>spriteSize</key>
                <string>{188,190}</string>
                <key>spriteSourceSize</key>
                <string>{191,351}</string>
                <key>textureRect</key>
                <string>{{1624,794},{188,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>montana3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{176,70}</string>
                <key>spriteSourceSize</key>
                <string>{175,70}</string>
                <key>textureRect</key>
                <string>{{1212,910},{176,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>montana4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{264,90}</string>
                <key>spriteSourceSize</key>
                <string>{264,89}</string>
                <key>textureRect</key>
                <string>{{1212,638},{264,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-126.5}</string>
                <key>spriteSize</key>
                <string>{2000,142}</string>
                <key>spriteSourceSize</key>
                <string>{2000,393}</string>
                <key>textureRect</key>
                <string>{{6,400},{2000,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-107.5}</string>
                <key>spriteSize</key>
                <string>{2000,180}</string>
                <key>spriteSourceSize</key>
                <string>{2000,393}</string>
                <key>textureRect</key>
                <string>{{6,212},{2000,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-98.5}</string>
                <key>spriteSize</key>
                <string>{2000,198}</string>
                <key>spriteSourceSize</key>
                <string>{2000,393}</string>
                <key>textureRect</key>
                <string>{{6,6},{2000,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plat1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,106}</string>
                <key>spriteSourceSize</key>
                <string>{256,106}</string>
                <key>textureRect</key>
                <string>{{1310,638},{256,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plat2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{512,80}</string>
                <key>spriteSourceSize</key>
                <string>{512,82}</string>
                <key>textureRect</key>
                <string>{{904,550},{512,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plat3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,31}</string>
                <key>spriteSize</key>
                <string>{128,20}</string>
                <key>spriteSourceSize</key>
                <string>{128,82}</string>
                <key>textureRect</key>
                <string>{{1396,902},{128,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>moon.gys</string>
            <key>size</key>
            <string>{2012,1056}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c407dece6872cfde9761761a488cc60:942958f99a7c4df73e1c893dca05e313:3407ad9fb5143b5aa8c3ea0bd7e5ca2a$</string>
            <key>textureFileName</key>
            <string>moon.gys</string>
        </dict>
    </dict>
</plist>
