<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tipMoon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,11}</string>
                <key>spriteSize</key>
                <string>{238,212}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{524,642},{238,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMoon1Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{890,126}</string>
                <key>spriteSourceSize</key>
                <string>{889,125}</string>
                <key>textureRect</key>
                <string>{{4,4},{890,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMoon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-16}</string>
                <key>spriteSize</key>
                <string>{230,178}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{752,858},{230,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipMoon2Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{890,126}</string>
                <key>spriteSourceSize</key>
                <string>{889,125}</string>
                <key>textureRect</key>
                <string>{{4,134},{890,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMoon3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{250,244}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{524,394},{250,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMoon3Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{890,126}</string>
                <key>spriteSourceSize</key>
                <string>{889,125}</string>
                <key>textureRect</key>
                <string>{{4,264},{890,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMoon4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,9}</string>
                <key>spriteSize</key>
                <string>{224,220}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{524,858},{224,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMoon4Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{890,126}</string>
                <key>spriteSourceSize</key>
                <string>{889,125}</string>
                <key>textureRect</key>
                <string>{{4,394},{890,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipMoon5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-2}</string>
                <key>spriteSize</key>
                <string>{196,218}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{524,1082},{196,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipMoon5Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{890,126}</string>
                <key>spriteSourceSize</key>
                <string>{889,125}</string>
                <key>textureRect</key>
                <string>{{134,394},{890,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipMoon6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{228,96}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{778,560},{228,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipMoon6Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{890,126}</string>
                <key>spriteSourceSize</key>
                <string>{889,125}</string>
                <key>textureRect</key>
                <string>{{264,394},{890,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipMoon7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{148,162}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{778,394},{148,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipMoon7Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{890,126}</string>
                <key>spriteSourceSize</key>
                <string>{889,125}</string>
                <key>textureRect</key>
                <string>{{394,394},{890,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>moonTips.gys</string>
            <key>size</key>
            <string>{934,1288}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:360729aaff38ce0b3aa2bce0fb0bb7ac:12ee3008cb890efa1fea7d5cedfd2055:001d686689d909101403a09cc9f83316$</string>
            <key>textureFileName</key>
            <string>moonTips.gys</string>
        </dict>
    </dict>
</plist>
