<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{890,500}</string>
                <key>spriteSourceSize</key>
                <string>{889,500}</string>
                <key>textureRect</key>
                <string>{{4,4},{890,500}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>backgroundFX.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,45}</string>
                <key>spriteSize</key>
                <string>{890,410}</string>
                <key>spriteSourceSize</key>
                <string>{889,500}</string>
                <key>textureRect</key>
                <string>{{508,4},{890,410}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>capsule.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{134,162}</string>
                <key>spriteSourceSize</key>
                <string>{141,165}</string>
                <key>textureRect</key>
                <string>{{448,898},{134,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>capsuleLight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-0.5,-22.5}</string>
                <key>spriteSize</key>
                <string>{96,122}</string>
                <key>spriteSourceSize</key>
                <string>{141,165}</string>
                <key>textureRect</key>
                <string>{{614,898},{96,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,1.5}</string>
                <key>spriteSize</key>
                <string>{440,204}</string>
                <key>spriteSourceSize</key>
                <string>{463,247}</string>
                <key>textureRect</key>
                <string>{{4,898},{440,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>puerto.gys</string>
            <key>size</key>
            <string>{922,1106}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ecbfd60430b1d6f41b48d1d91fd7ba7:e3b16c6e89aeb5bc35015b549243c803:25112b876c3e01721e6fdda88f08680b$</string>
            <key>textureFileName</key>
            <string>puerto.gys</string>
        </dict>
    </dict>
</plist>
