<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{890,500}</string>
                <key>spriteSourceSize</key>
                <string>{889,500}</string>
                <key>textureRect</key>
                <string>{{6,1014},{890,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iceParticle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{50,56}</string>
                <key>spriteSourceSize</key>
                <string>{50,55}</string>
                <key>textureRect</key>
                <string>{{1226,1014},{50,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-106}</string>
                <key>spriteSize</key>
                <string>{2000,288}</string>
                <key>spriteSourceSize</key>
                <string>{2000,500}</string>
                <key>textureRect</key>
                <string>{{6,470},{2000,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{2000,456}</string>
                <key>spriteSourceSize</key>
                <string>{2000,500}</string>
                <key>textureRect</key>
                <string>{{6,6},{2000,456}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-130}</string>
                <key>spriteSize</key>
                <string>{2000,240}</string>
                <key>spriteSourceSize</key>
                <string>{2000,500}</string>
                <key>textureRect</key>
                <string>{{6,766},{2000,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plat1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,76}</string>
                <key>spriteSourceSize</key>
                <string>{512,76}</string>
                <key>textureRect</key>
                <string>{{1178,1150},{512,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plat2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,72}</string>
                <key>spriteSourceSize</key>
                <string>{256,72}</string>
                <key>textureRect</key>
                <string>{{1098,1014},{256,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plat3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,16.5}</string>
                <key>spriteSize</key>
                <string>{128,40}</string>
                <key>spriteSourceSize</key>
                <string>{128,73}</string>
                <key>textureRect</key>
                <string>{{1178,1014},{128,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spike0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{276,186}</string>
                <key>spriteSourceSize</key>
                <string>{275,186}</string>
                <key>textureRect</key>
                <string>{{904,1014},{276,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spike1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{216,186}</string>
                <key>spriteSourceSize</key>
                <string>{215,186}</string>
                <key>textureRect</key>
                <string>{{904,1298},{216,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spike2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-36}</string>
                <key>spriteSize</key>
                <string>{232,116}</string>
                <key>spriteSourceSize</key>
                <string>{240,188}</string>
                <key>textureRect</key>
                <string>{{1098,1278},{232,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>uranus.png</string>
            <key>size</key>
            <string>{2012,1520}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cdb8be471d0cc9639e7ba6ca3018800f:6db249cde91a55c4b9963e17adf047bb:54121e9e1806a078185fee5b0a3f348b$</string>
            <key>textureFileName</key>
            <string>uranus.png</string>
        </dict>
    </dict>
</plist>
