<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{890,500}</string>
                <key>spriteSourceSize</key>
                <string>{889,500}</string>
                <key>textureRect</key>
                <string>{{6,1004},{890,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iceParticle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{50,56}</string>
                <key>spriteSourceSize</key>
                <string>{50,55}</string>
                <key>textureRect</key>
                <string>{{1224,1004},{50,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-108}</string>
                <key>spriteSize</key>
                <string>{2000,284}</string>
                <key>spriteSourceSize</key>
                <string>{2000,500}</string>
                <key>textureRect</key>
                <string>{{6,468},{2000,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-23}</string>
                <key>spriteSize</key>
                <string>{2000,454}</string>
                <key>spriteSourceSize</key>
                <string>{2000,500}</string>
                <key>textureRect</key>
                <string>{{6,6},{2000,454}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-132}</string>
                <key>spriteSize</key>
                <string>{2000,236}</string>
                <key>spriteSourceSize</key>
                <string>{2000,500}</string>
                <key>textureRect</key>
                <string>{{6,760},{2000,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plat1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,76}</string>
                <key>spriteSourceSize</key>
                <string>{512,76}</string>
                <key>textureRect</key>
                <string>{{1178,1140},{512,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plat2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,72}</string>
                <key>spriteSourceSize</key>
                <string>{256,72}</string>
                <key>textureRect</key>
                <string>{{1098,1004},{256,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plat3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,17.5}</string>
                <key>spriteSize</key>
                <string>{128,38}</string>
                <key>spriteSourceSize</key>
                <string>{128,73}</string>
                <key>textureRect</key>
                <string>{{1178,1004},{128,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spike0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{276,186}</string>
                <key>spriteSourceSize</key>
                <string>{275,186}</string>
                <key>textureRect</key>
                <string>{{904,1004},{276,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spike1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{216,186}</string>
                <key>spriteSourceSize</key>
                <string>{215,186}</string>
                <key>textureRect</key>
                <string>{{904,1288},{216,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spike2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-36}</string>
                <key>spriteSize</key>
                <string>{232,116}</string>
                <key>spriteSourceSize</key>
                <string>{240,188}</string>
                <key>textureRect</key>
                <string>{{1098,1268},{232,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>uranus.gys</string>
            <key>size</key>
            <string>{2012,1510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee0f843b567993738bee1b49bad5906c:6db249cde91a55c4b9963e17adf047bb:1502873024734d08a8fc1f62923e2bfe$</string>
            <key>textureFileName</key>
            <string>uranus.gys</string>
        </dict>
    </dict>
</plist>
