<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tipUranus1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{164,126}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{846,896},{164,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipUranus1Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{890,126}</string>
                <key>spriteSourceSize</key>
                <string>{889,125}</string>
                <key>textureRect</key>
                <string>{{4,4},{890,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipUranus2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,10}</string>
                <key>spriteSize</key>
                <string>{232,82}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{896,264},{232,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipUranus2Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{890,126}</string>
                <key>spriteSourceSize</key>
                <string>{889,125}</string>
                <key>textureRect</key>
                <string>{{4,134},{890,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipUranus3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,10}</string>
                <key>spriteSize</key>
                <string>{188,198}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{654,720},{188,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipUranus3Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{890,126}</string>
                <key>spriteSourceSize</key>
                <string>{889,125}</string>
                <key>textureRect</key>
                <string>{{4,264},{890,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipUranus4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{238,220}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{654,264},{238,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipUranus4Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{890,126}</string>
                <key>spriteSourceSize</key>
                <string>{889,125}</string>
                <key>textureRect</key>
                <string>{{134,264},{890,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipUranus5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,5}</string>
                <key>spriteSize</key>
                <string>{230,228}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{654,488},{230,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipUranus5Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{890,126}</string>
                <key>spriteSourceSize</key>
                <string>{889,125}</string>
                <key>textureRect</key>
                <string>{{264,264},{890,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipUranus6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-14}</string>
                <key>spriteSize</key>
                <string>{188,134}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{654,922},{188,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipUranus6Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{890,126}</string>
                <key>spriteSourceSize</key>
                <string>{889,125}</string>
                <key>textureRect</key>
                <string>{{394,264},{890,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipUranus7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{172,132}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{846,720},{172,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tipUranus7Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{890,126}</string>
                <key>spriteSourceSize</key>
                <string>{889,125}</string>
                <key>textureRect</key>
                <string>{{524,264},{890,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>uranusTips.gys</string>
            <key>size</key>
            <string>{982,1158}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:007dd87802da0ee292b61884b014797b:10550a399227e96fd3a302127d68ac4c:7efaec4a2a97092734bbf00f0dcda0ae$</string>
            <key>textureFileName</key>
            <string>uranusTips.gys</string>
        </dict>
    </dict>
</plist>
